server {
    listen ${PORT};
    listen [::]:${PORT};

    access_log /var/log/nginx/reverse-access.log;
    error_log /var/log/nginx/reverse-error.log;

      location ${BASE_URL} {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_pass http://${RADAR_CLIENT_HOST}:${RADAR_CLIENT_PORT};
  }
}