server {
    listen ${PORT};
    listen [::]:${PORT};

    access_log /var/log/nginx/nginx-access.log;
    error_log /var/log/nginx/nginx-error.log;

    location ${CLIENT_BASE} {
        proxy_pass http://${CLIENT_HOST}:${CLIENT_PORT};
    }

    location ${API_BASE} {
        proxy_pass http://${API_HOST}:${API_PORT};
    }
}